<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="mode" value="TEST"/>
    <add key="TaxRepoLocation" value="C:\\_repos\\alex-grbach-individual-work\\SGFlooring\\SGFlooring.UI\\DataFiles\\Taxes.txt"/>
    <add key="ProductRepoLocation" value="C:\\_repos\\alex-grbach-individual-work\\SGFlooring\\SGFlooring.UI\\DataFiles\\Products.txt"/>
  </appSettings>
</configuration>